.advantages__offer {
  width: 224px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.advantages__list {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 320px;
  padding-top: 30px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: @bg-lightgrey;
}

.advantages__title {
  font-size: 18px;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__desc {
  width: 260px;
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}
