.advantages__offer {
	width: 70%;
	margin: 35px auto;
  font-size: 24px;
  line-height: auto;
}
.advantages__list {
	padding-bottom: 320px;
	padding-top: 30px;
	background-image: url("../img/iphone-screen-mobile@1x.png");
	background-repeat: no-repeat;
	background-position: center bottom;
  background-color: @bg-lightgrey;
}
.advantages__title {
  color: #000000;
	margin: 20px auto;
}
.advantages__desc {
	width: 80%;
	margin: 35px auto;
	
}
