.checkbox {
  margin-top: 52px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.checkbox__label {
  position: relative;
  margin-left: 70px;
  cursor: pointer;
}

.checkbox__control {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  left: -70px;
  top: -6px;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.checkbox__control:checked + .checkbox__label::before {
  background: url("../img/icon-yes.svg") center center no-repeat;
  background-color: #ffffff;
}

.checkbox__control:focus + .checkbox__label::before,
.checkbox__control:hover + .checkbox__label::before {
  border: 2px solid #283645;
  outline: none;
}

.checkbox__control:active + .checkbox__label::before {
  border: 2px solid #d22856;
}

@media (min-width: @tablet-width) {
  .checkbox {
    margin-top: 0;
    margin-bottom: 52px;
  }

  .checkbox__label {
    margin-left: 118px;
  }

  .checkbox__label::before {
    content: "";
    left: -60px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox {
    width: 260px;
    margin: 0 0 52px 0;
  }

  .checkbox:nth-child(1) {
    order: -4;
    margin-right: 55px;
  }

  .checkbox:nth-child(2) {
    order: -1;
    margin-right: 56px;
  }

  .checkbox:nth-child(3) {
    order: -3;
    margin-right: 36px;
  }

  .checkbox:nth-child(4) {
    order: 0;
    margin-right: 36px;
  }

  .checkbox:nth-child(5) {
    order: -2;
  }

  .checkbox__label {
    margin-left: 60px;
  }
}
