.choice {
  padding: 40px 20px 0;
  background-color: @bg-lightgrey;
}

.choice-desc {
  margin: 0 25px 40px;
  text-transform: uppercase;
  color: #d22856;
}

.choice-item {
  margin-bottom: 55px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;

  .radio {
    margin-left: 70px;
  }
}
