.choice {
	margin-bottom: 45px;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
}

.choice__label {
	margin-left: 70px;
}

@media (min-width: @tablet-width) {
	.choice__label {
		margin-left: 118px;
	}
}

@media (min-width: @desktop-width) {
	.choice__label {
		margin-left: 138px;
	}
}
