.contacts__label {
  display: block;
  margin: 24px 0 10px 20px;
  text-align: left;
  text-transform: uppercase;
  color: #d22856;
}
.contacts__control {
  width: 254px;
  padding: 14px 0 14px 20px;
  font-family: "Open Sans", 'Open Sans Light', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 3px solid #f2f2f2;
}
