.download {
  padding-top: 110px;
  color: #ffffff;
  background-image: url (../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -65px;
  background-color: @bg-darkgrey;
}

.download__img {
  &--iphone {
    display: block;
    vertical-align: bottom;
  }
}

.download__wrapper {
  padding: 28px 20px 35px;
}

.download__button {
  display: block;
  padding: 14px 32px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50px;
}

.download__list {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
