.download {
	padding-top: 110px;
	color: #ffffff;
	background-image: url(../img/bg-back-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-position: 0 -65px;
	background-color: @bg-darkgrey;
}

.download-img {
	img {
		display: block;
		vertical-align: bottom;
	}
}

.download__button {
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #ffffff;
}
