.form {
  margin-bottom: 55px;
}

.form__desc {
  padding: 46px 20px 0;
  margin-bottom: 16px;
  margin-top: 0;
  line-height: 30px;
}

.form__desc--item {
  display: none;
}

.form__button {
  padding: 17px 50px 16px;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 3px 3px;
}

.form__importantly {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}

.form__importantly--star {
  color: #d22856;
}

.form__importantly--desc {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
  }

  .form__desc {
    order: -3;
    padding: 92px 70px 0;
    margin-bottom: 0;
    font-size: 18px;
  }

  .form__desc--item {
    display: block;
  }

  .form__button {
    padding: 17px 60px 16px;
    margin-right: 143px;
    margin-bottom: 22px;
  }

  .form__importantly {
    padding-top: 18px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__desc {
    padding: 92px 220px 0;
    margin-bottom: 72px;
  }

  .form__desc--item {
    display: inline;
  }

  .form__button {
    margin-left: auto;
    margin-right: 336px;
    margin-bottom: 0;
  }

  .form__importantly {
    margin-right: auto;
  }

  .form__importantly--desc {
    display: inline;
  }
}
