.logo-header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid #000000;
}

.logo-header__button-close {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: @bg-darkgrey;
}

@media (min-width: @tablet-width) {
  .logo-header {
    padding: 29px 20px 32px;
  }

  .logo-header__button-close {
    margin-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .logo-header {
    width: 405px;
    padding: 26px 0 36px;
    justify-content: center;
    border: none;
  }

  .logo-header__button-close {
    display: none;
  }
}
