.main-header {
  background: @bg-darkgrey;
}
.logo-wrapper {
	padding: 20px;
	display: flex;
	flex-direction: row;
  
}
.buttom-close {
	width: 25px;
	height: 25px;
	margin-left: auto;
}
.site-list__item {
	padding: 20px;
  a {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
  }
}

