.page-title {
  margin-bottom: 50px;
  padding: 35px 40px;
  color: #ffffff;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 0 -65px;
  background-color: @bg-darkgrey;
}
.page-title__desc {
  margin: 0;
  margin-bottom: 52px;
  font-size: 24px;
  font-weight: 400;
}
.page-title__description {
  margin: 0;
  margin-bottom: 28px;
  font-size: 24px;
  font-weight: 400;
}
