.photo-panorama__img {
  margin: 0 0 -7px 0;
  padding: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .photo-panorama {
    width: 100%;
  }

  .photo-panorama__img--item {
    height: 509px;
    object-fit: cover;
  }
}

@media (min-width: @desktop-width) {
  .photo-panorama__img--item {
    height: 506px;
  }
}
