.social__list {
  list-style: none;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social__twitter {
  background: url("../img/icon-twitter.svg") center center no-repeat;
  background-size: 18px 15px;
}

.social__facebook {
  background: url("../img/icon-facebook.svg") center center no-repeat;
  background-size: 9px 19px;
}

.social__youtube {
  background: url("../img/icon-youtube.svg") center center no-repeat;
  background-size: 15px 14px;
}

@media (min-width: @tablet-width) {
  .social {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .social__list {
    justify-content: flex-start;
  }
}

@media (min-width: @desktop-width) {
  .social {
    width: 180px;
  }

  .social__list {
    justify-content: space-between;
  }
}
